* {
    
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
}
#heading {
    text-align: center;
}
 #box {
     margin-top: 10vh;
    display : flex;
    flex-flow: wrap;
    width: 34vw;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
 }
 .innerBox {
     border: 2px solid black;
     width: 8vw;
     height: 8vw;
    
 }